body {
    text-align: center;
    background-color: #d0f4f7;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}
h1 {
    color: #ff9900;
    margin-top: 20px;
}
#word-display {
    font-size: 2.2rem;
    margin: 10px;
    color: #333;
    font-weight: bold;
    letter-spacing: 15px;
}
canvas {
    background-color: #a2e2a4;
    border: 2px solid #555;
    display: block;
    margin: 10px auto;
}
